<!-- <h1>Staticpages#help</h1>
<p>Find me in app/views/staticpages/help.html.erb</p>
 -->

<div class="row">
	<div class="col-xs-12 text-center">
		<h1>Our help page is currently under maintenance.</h1>
		<p>Kindly leave us a mail from our homepage and we will be glad to get back to you</p>
	</div>
</div>