<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row" style="margin-top: -51px">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "img1.jpg", class: "img-responsive img" %>
      <div class="carousel-caption">
        <h1 class="h1margin">Welcome to the Zygone group</h1>
        <h4>Join Now</h4>
        <h4><%= link_to "Sign up now!!!", signup_path, class: "btn btn-lg btn-primary" %></h4>
      </div>
    </div>
    <div class="item">
      <%= image_tag "img4.jpg", class: "img-responsive img" %>
      <div class="carousel-caption">
        <h1 class="h1margin">Welcome to the Zygone group</h1>
        <h4>Join Now</h4>
        <h4><%= link_to "Sign up now!!!", signup_path, class: "btn btn-lg btn-primary" %></h4>
      </div>
    </div>
    <div class="item">
      <%= image_tag "img2.jpg", class: "img-responsive img" %>
      <div class="carousel-caption">
        <h1 class="h1margin">Welcome Zygone group</h1>
        <h4>Join Now</h4>
        <h4><%= link_to "Sign up now!!!", signup_path, class: "btn btn-lg btn-primary" %></h4>
      </div>
    </div>
    <div class="item">
      <%= image_tag "img3.jpg", class: "img-responsive img" %>
      <div class="carousel-caption">
        <h1 class="h1margin">Welcome to the Zygone group</h1>
        <h4>Join Now</h4>
        <h4><%= link_to "Sign up now!!!", signup_path, class: "btn btn-lg btn-primary" %></h4>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    
  </div>
<% end %>