<footer class="footer">
	<!-- <div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 text-center">
			<h3>IzeeTweet</h3>
			<ul class="list-inine text-center" style="padding-left: 0;">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", root_path %></li>
			</ul> <br> <br>
			<p>Design and Implemented By Gabriel &copy; Web Solutions</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 text-center">
			<h3>
				<span class="glyphicon glyphicon-map-marker"></span>
				<span class="footer_ppl">Address</span>
			</h3>
			<h3>
				<span class="glyphicon glyphicon-phone"></span>
				<span class="footer_ppl">1234567890</span>
			</h3>
			<h3>
				<span class="glyphicon glyphicon-envelope"></span>
				<span class="footer_ppl">gabriel4amaizu@gmail.com</span>
			</h3>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h3>About the company</h3>
			<ul class="list-inline">
				<li><a href="">
					<span class="glyphicon glyphicon-phone"></span>
				</a></li>	
				<li><a href="">
					<span class="glyphicon glyphicon-phone"></span>
				</a></li>
				<li><a href="">
					<span class="glyphicon glyphicon-phone"></span>
				</a></li>
			</ul>
		</div>
	</div> -->

	<div class="row">
		<div class="col-xs-12">
			<p>copyright  &copy; of Maduka James</p>
		</div>
	</div>
</footer>	